{% extends 'base.html' %}
{% block content %}
    <div class="row" style="margin-top: 10%;">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h6>Nome Sistema</h6>
            <form method="post" action="{% url 'login' %}" id="form_login" novalidate>
                {% csrf_token %}
                {% include 'bs4_form.html' with form=form %}
                <button type="submit" class="btn btn-primary" id="btn_login">Login</button>
            </form>
            <h6>Não possui um usuário? <a href="/accounts/register/">Cadastra-se!</a></h6>
        </div>
        <div class="col-md-4"></div>    
    </div>
    <script>
        $(document).ready(function(){
            $('#form_login').submit(()=>$('#btn_login').prop('disabled' , true).html('<i class="fa fa-spinner fa-spin fa-fw"></i> Login') );
        })
    </script>
{% endblock %}       
