{% extends 'base.html' %}
{% block content %}
    <div class="row" style="margin-top: 3%;">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h6>Registrar</h6>
            <form method="post" action="" id="form_register" novalidate>
                {% csrf_token %}
                {% include 'bs4_form.html' with form=form %}
                <button type="submit" class="btn btn-primary" id="btn_register">Cadastrar</button>
            </form>
        </div>
        <div class="col-md-4"></div>    
    </div>
    <script>
        $(document).ready(function(){
            $('#form_register').submit(()=>$('#btn_register').prop('disabled' , true).html('<i class="fa fa-spinner fa-spin fa-fw"></i> Cadastrar') );
        })
    </script>
{% endblock %}       
