{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Titulo</title>
        <!-- STYLES -->
        <link rel="stylesheet" href="{% static 'libs/css/bootstrap/bootstrap.min.css' %}" >
        <link rel="stylesheet" href="{% static 'libs/css/default/style.css' %}" >
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <!-- SCRIPTS -->
        <script type="text/javascript" src="{% static 'libs/js/jquery/jquery.3.1.js' %}"></script>
        <script type="text/javascript" src="{% static 'libs/js/bootstrap/bootstrap.min.js' %}"></script>
    </head>

    <body>

        {% if user.is_authenticated %}
            <!-- NAVBAR -->
        {% endif %} 

        <!-- MESSAGES -->
        {% if messages %}
            {% for message in messages %}
                <div  {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
                    <a href="javascript: return false;" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %} 

        <div class="container-fluid"> 
            {% block content %}{% endblock %}
        </div>

    </body>
</html>
